 <div class="wrapper wrapper_padding clearfix">
    <div class="col-1 homepage_content about">
      <h2>About</h2>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo <a href="#">hello</a>.
      </p><br>
      <p>
        Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
      </p>
    </div>
    <div class="col-2 homepage_content">
      <h2>Tutorials We'd Written</h2>
      <hr>
      <% @posts.each do |post| %>
        <h3><a href="#"><%= link_to post.title, post %></a></h3>
        <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
      <% end %>
    </div>
    <div class="col-3 homepage_content">
      <h2>Challenges We'd Built</h2>
      <hr>
      <h3><a href="#">Unicast</a></h3>
      <p class="date">Friday April 20th</p>
      <h3><a href="#">12 in 12 Challenge</a></h3>
      <p class="date">Friday April 20th</p>
      <h3><a href="#">The Community</a></h3>
      <p class="date">Friday April 20th</p>
    </div>    
  </div>
